*{
  box-sizing: border-box;
}

h1{
  text-align: center;
  margin-top: 8%;
}

.projects{
  font-size: 15px;
}

.contact{
  font-size: 15px;
}

h2{
  width: 25%;
}

nav p{
  width: 33%;
  text-align: right;
  padding: 0% 5%;
}

.social-media{
  display: flex;
  width: 75%;
}