*{
  box-sizing: border-box;
}

body{
  font-family: 'Oswald', sans-serif;
}

h1{
  text-align: center;
  margin-top: 8%;
}

.bio{
  font-size: 20px;
  text-align: center;
}

.projects{
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
}

.contact{
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
}

h2{
  width: 25%;
}

nav p{
  width: 33%;
  text-align: right;
  padding: 0% 5%;
}

.social-media{
  display: flex;
  width: 75%;
}

img{
  display: block;
  margin-left: 40%;
}